<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.derslistviewornegi">


<uses-feature android:name="android.hardware.camera">    android:required="true" </uses-feature>

<uses-feature android:name="android.permission.CAMERA"></uses-feature>

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="Oyun Ekleme Uygulaması"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.Derslistviewornegi">



        <activity android:name=".EA_ListeAktivite"></activity>
        <activity android:name=".EA_MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>